body{
    background-color: #5c48d2;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 16px;
}

header{
    font-size: 48px;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block{
    width: 1024px;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    margin: 0 auto;
}

.navigation{
    height: 100px;
    font-size: 20px;
    color: #190f33;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
}

a:hover{
    color: #5c48d2;
    cursor: pointer;
}

#computer{
    height:500px;
    width: 1024px;
    object-fit: cover;
}

#apropos{
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;        
}

#formation{
    background-color: #eeeef7;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

#pj{
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

#contact{
    background-color: #eeeef7;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.textapropos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.pp{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 2px #fcc01a;
    object-fit: cover;
    margin-right: 80px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    font-size: 38px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #190f33;
}

.infos{
    font-size: 30px;
    font-style: italic;
    color: #190f33;
}

h3{
    font-size: 26px;
    font-weight: bold;
    color: #190f33;
    margin-bottom: 40px;
}

.textmoi{
    height: 30px;
}

h2{
    font-size: 30px;
    font-weight: bold;
    color: #190f33;
    margin-bottom: 80px;
}

.textform{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

.logo{
    height: 100px;
    width: 100px;
    object-fit: cover;
    align-items: center;
    justify-content: flex-end;
    margin-left: 75px;
    margin-right: 75px;
}

.logo1{
    height: 100px;
    width: 200px;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 100px;
}

#pfpj{
    margin-bottom: 120px;
    text-align: center;
}

.tripadvisor{
    display: flex;
    flex-direction: row;
}

.tripadvisor h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}

.tripadvisor li{
    line-height: 30px;
    list-style-type: disc;
}

.texttripadvisor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.texttripadvisor h4{
    margin-right: 60px;
}

.texttripadvisor li{
    list-style-type: disc;
    line-height: 30px;
}

.tripadvisor img{
    width: 500px;
    object-fit: contain;
    margin-right: 60px;
}
